:root {
	--highlightColor:#4255C3;
	--secondaryHighlightColor:#B63535;
	--backgroundColor:#F1F1F1;
	--secondaryBackgroundColor:#FFE792;
	--fontSans:;
	--fontMono:;
	--fontFamilyPrimary:;
	--fontFamilySecondary:;
}

