{{- $recent_albums := where .Site.RegularPages "Type" "in" .Site.Params.recentAlbums }}
{{- if gt (len $recent_albums) 0 }}
<div class="widget-recent-albums widget">
  <h4 class="widget__title">Albums you should listen to</h4>
  <div class="widget__content">
    <ul class="widget__list">
    {{- range $recent_albums }}
      <li class="widget__item">
        <a class="widget__link" href="{{ .Params.mb_url }}">
          <img class="widget__image" src="{{ .Params.image }}" alt="{{ .Title }}" />
          {{ .Params.artist }}<br>
          {{ .Title }}
        </a>
      </li>
    {{- end }}
    </ul>
  </div>
</div>
{{- end }}
