{{ $data := dict }}
{{ $path := "data/albums.json" }}
{{ with resources.Get $path }}
  {{ with . | transform.Unmarshal }}
    {{ $data = . }}
  {{ end }}
{{ else }}
  {{ errorf "Unable to get page resource %q" $path }}
{{ end }}

<div class="widget-recent-albums widget">
  <h4 class="widget__title">
    <a href="/recent-albums">Albums you should listen to</a>
  </h4>
  <div class="widget__content">
    <ul class="widget__list">
    {{- range $k, $v := $data }}
      {{ if eq $k 5 }}
        {{ break }}
      {{ end }}

      <li class="widget__item">
        <a class="widget__link" href="https://musicbrainz.org/release/{{ $v.mbid }}">
          <img class="widget__image" src="{{ $v.image }}" alt="{{ $v.Title }}" />
          {{ $v.artist }}<br>
          {{ $v.title }}
        </a>
      </li>
    {{- end }}
    </ul>
  </div>
</div>
