{{- $highlightColor := .Site.Params.style.vars.highlightColor | default (.Site.Params.highlightColor | default "#e22d30") -}}
{{- $highlightColorRgb := .Site.Params.style.vars.highlightColorRgb | default (.Site.Params.highlightColorRgb | default "#e22d30") -}}
{{- $secondaryHighlightColor := .Site.Params.style.vars.secondaryHighlightColor | default (.Site.Params.secondaryHighlightColor | default "#e22d30") -}}
{{- $secondaryHighlightColorRgb := .Site.Params.style.vars.secondaryHighlightColorRgb | default (.Site.Params.secondaryHighlightColorRgb | default "#e22d30") -}}
{{- $backgroundColor := .Site.Params.style.vars.backgroundColor | default (.Site.Params.backgroundColor | default "#e22d30") -}}
{{- $backgroundColorRgb := .Site.Params.style.vars.backgroundColorRgb | default (.Site.Params.backgroundColorRgb | default "#e22d30") -}}
{{- $secondaryBackgroundColor := .Site.Params.style.vars.secondaryBackgroundColor | default (.Site.Params.secondaryBackgroundColor | default "#e22d30") -}}
{{- $secondaryBackgroundColorRgb := .Site.Params.style.vars.secondaryBackgroundColorRgb | default (.Site.Params.secondaryBackgroundColorRgb | default "#e22d30") -}}

{{- $fontSans := `"Open Sans", Helvetica, Arial, sans-serif` -}}
{{- $fontMono := `SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace` -}}
{{- $fontFamilyPrimary := .Site.Params.style.vars.fontFamilyPrimary | default $fontSans -}}
{{- $fontFamilySecondary := .Site.Params.style.vars.fontFamilySecondary | default $fontMono -}}
{{- $fontFamilyMono := .Site.Params.style.vars.fontFamilyMono | default $fontMono -}}


:root {
	--highlightColor: {{- $highlightColor -}};
	--highlightColorRgb: {{- $highlightColorRgb -}};
	--secondaryHighlightColor: {{- $secondaryHighlightColor -}};
	--secondaryHighlightColorRgb: {{- $secondaryHighlightColorRgb -}};
	--backgroundColor: {{- $backgroundColor -}};
	--backgroundColorRgb: {{- $backgroundColorRgb -}};
	--secondaryBackgroundColor: {{- $secondaryBackgroundColor -}};
	--secondaryBackgroundColorRgb: {{- $secondaryBackgroundColorRgb -}};
	--fontSans: "{{- $fontSans -}}";
	--fontMono: "{{- $fontMono -}}";
	--fontFamilyPrimary: "{{- $fontFamilyPrimary -}}";
	--fontFamilySecondary: "{{- $fontFamilySecondary -}}";
	--fontFamilyMono: "{{- $fontFamilyMono -}}";
}

