{{ define "main" }}

<main class="main list" role="main">
	{{- with .Content }}
	<div class="content main__content clearfix">
		{{ . }}
	</div>
	{{- end }}

	{{ $projects := where .Site.RegularPages "Type" "projects" }}
	{{ $posts := where .Site.RegularPages "Type" "posts" }}

	{{- if $projects }}
	<h2 class="recent-post-heading"><a href="/projects">{{ T "recent_projects" | default "Recent Projects" }}</a></h2>
	{{- range first 5 $projects }}
		{{- .Render "summary" }}
	{{- end }}
	{{- if gt (len $projects) 5 }}
	<a class="section-list__more" href="{{ "projects" | absURL }}">{{ T "view_all_projects" | default "View all projects" }} &rarr;</a>
	{{- end }}
	{{- end }}

	{{- if $posts }}
	<h2 class="recent-post-heading"><a href="/posts">{{ T "recent_posts" }}</a></h2>
	{{- range first 5 $posts }}
		{{- .Render "summary" }}
	{{- end }}
	{{- if gt (len $posts) 5 }}
	<a class="section-list__more" href="{{ "posts" | absURL }}">{{ T "view_all_posts" | default "View all posts" }} &rarr;</a>
	{{- end }}
	{{- end }}

	{{- if and (eq (len $projects) 0) (eq (len $posts) 0) (not $.Content) }}
		<div class="warning">
			{{ partial "svg/files.svg" (dict "class" "warning__icon") }}
			<h3 class="warning__headline">{{ T "noposts_warning_title" | safeHTML }}</h3>
			<div class="warning__text">
				<p class="warning__description">{{ T "noposts_warning_description" | safeHTML }}</p>
				<p class="warning__tip">{{ T "noposts_warning_tip" | safeHTML }}</p>
			</div>
		</div>
	{{- end }}
</main>

{{ end }}
